.etch-a-sketchBOARD div{
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    flex-direction: column;
    background-color: blue;
}

.etch-a-sketchBOARD div div {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: blue;
}

.etch-a-sketchBOARD {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 600px;
}

.container {
    width: 600px;   
    margin: auto;
    justify-content: center;
    align-items: center;

}